.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
doc/api
doc/app
doc/rspec_report.html
.*.swp
public/blank_iframe.html
public/images/calendar_date_select
public/javascripts/calendar_date_select
public/stylesheets/calendar_date_select
vendor/bundler_gems/gems
vendor/bundler_gems/specifications
vendor/bundler_gems/doc
vendor/bundler_gems/environment.rb
vendor/bundler_gems/cache
bin
