<% if flash[:notice] %><p class="noticeExplanation"><%= flash[:notice] %></p><% end %>
<% if flash[:warning] %><p class="warningExplanation"><%= flash[:warning] %></p><% end %>
<% if flash[:error] %><p class="errorExplanation"><%= flash[:error] %></p><% end %>
