<!--[if lt IE 8]>  
<div class="ie-warning">
  <div class="content">
    <div class="warning-image"><img src='/images/ie6nomore-warning.jpg' alt='Warning!'/></div>

    <div class="text">
      <div class='title'>You are using an outdated browser</div>
      <div class='description'>
        Please <a href='http://www.browserforthebetter.com/download.html' target='_blank'>update Internet Explorer</a>
        or install <a href='http://www.google.com/chromeframe' target='_blank'>Google Chrome Frame plugin</a>. 
        More info <a href="http://www.ie6nomore.com/">here</a>.
      </div>
    </div>

    <div class='icon'>
      <a href='http://www.browserforthebetter.com/download.html' target='_blank'>
        <img src='/images/ie6nomore-ie8.jpg' alt='Update Internet Explorer'/>
      </a>
    </div>

    <div class='icon'>
      <a href='http://www.google.com/chromeframe' target='_blank'>
        <img src='/images/ie6nomore-chrome.jpg' alt='Install Google Chrome Frame plugin'/>
      </a>
    </div>
  </div>
</div>
<![endif]-->
